.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

.conteiner-Cart { 

  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

}

.cartWidget{
  cursor: pointer;
  position: relative;
}
.cerrar{
  cursor: pointer;
  display: none;
}


.cartWidget span{
  position: absolute;
  top:-14px;
  right: 0px;
  background: crimson;
  font-weight: 700;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 5px;
}

.navbar {
  display: flex;


}

.navbar ul li {
  text-transform: uppercase;
  color: #222 ;
  padding: 0 15px;
}


