.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


li {
  list-style: none;
}

.conteiner-Cart { 

  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

}

.cartWidget{
  cursor: pointer;
  position: relative;
}
.cerrar{
  cursor: pointer;
  display: none;
}


.cartWidget span{
  position: absolute;
  top:-14px;
  right: 0px;
  background: crimson;
  font-weight: 700;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 5px;
}

.navbar {
  display: flex;


}

.navbar ul li {
  text-transform: uppercase;
  color: #222 ;
  padding: 0 15px;
}


.productContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-row-gap: 20px;
  grid-column-gap: 75px;
  justify-items: center;
  justify-content: center;

}

.product{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

   
}

.product img {
  width: 100%;
  height: 150px;
}

.product p {
  font-weight: bold;
  text-align: center;
}
.product button {

  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;

}

.product button:hover {

  background-color: #cecece;

}
